* {
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
}

.header-task {
  border: 5px solid black;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
}